<head>
	<link rel="stylesheet" href="nav.css">
	<script src="https://kit.fontawesome.com/b99e675b6e.js"></script>
    <title>Add Product</title>
</head>

<div class="wrapper">
    <div class="sidebar">
         <h4> <a class="text-decoration-none" href="/admin-dashboard">Admin Dashboard</a></h4>
        <ul>
            <li><a href="/add"><i class="fas fa-plus"></i>Add Product</a></li>
            <li><a href="/my-products"><i class="fas fa-shopping-cart"></i>Products</a></li>
            <li><a href="/messages"><i class="fas fa-comment"></i>Messages</a></li>
            <li><a href="/orders"><i class="fas fa-shopping-bag"></i>Orders</a></li>
            <li class="logout-btn"><a class="btn btn-outline-danger" href="/logout">Logout</a></li>
        </ul> 
    </div>
    <div class="main_content">
        <div class="info">
        {{!-- Form --}}
        <div class="w-75 mx-auto">
                    <p class="fs-1">Add Product</p>
                    {{!-- {{#if addError}}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <strong>Error!</strong> {{addError}}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                    {{/if}} --}}

        <form action="/add-products" method="post"> 
                
                <div class="form-floating mb-3">
         <input type="text" class="form-control" name="title" id="floatingInput" placeholder="Title">
         <label for="floatingInput">Title</label>
                </div>
            <div class="form-floating mb-3">
        <textarea class="form-control" name="description"  id="description" style="height: 100px"></textarea>
        <label for="floatingTextarea2">Description</label>
           </div>

        <div class="input-group mb-3 mt-3">
        {{!-- <span class="input-group-text fs-0">$</span> --}}
        <div class="form-floating">
        <input type="number" class="form-control" name="price" id="price" placeholder="Price">
        <label for="floatingInputGroup1">$ Price</label>
         </div>
        </div>

        <button class="btn btn-primary">Add</button>
            </form>
        </div>

        <br>
        
      
</div>
        </div>
    </div>
</div>